<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li>
      <%= link_to dashboards_path do %>
        Início
      <% end %>  
    </li>  
    <li>Configurações</li>                  
    <li>
      <%= link_to users_path do %>
        Usuários
      <% end %>
    </li>
    <li class="active">Editar Usuário</li>
</ul>
<!-- END BREADCRUMB -->   

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-users"></span> Editar Usuário </h2>
</div>
<!-- END PAGE TITLE --> 

<div class="page-content-wrap">
    <div class="col-md-12">
      
      <div class="row">         
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Gerenciamento</h3>
              </div>
              <div class="panel-body">
                  <div class="col-md-4">
                    <span><strong>Último acesso:</strong> <%= @user.last_sign_in_at %> </span><br />
                    <span><strong>IP de acesso:</strong> <%= @user.last_sign_in_ip %> </span>
                  </div>
                  <div class="col-md-2">
                      <%= link_to @user, method: :delete, data: { confirm: 'Deseja realmente remover este usuário?' } do %>
                        <button class="btn btn-block btn-danger"> Remover </button>
                      <% end %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to status_change_path(@user.id), data: { confirm: 'Deseja confirmar esta operação?' } do %>
                      <% if @user.active %>
                        <button class="btn btn-block btn-warning"> Bloquear </button>
                      <% else %>
                        <button class="btn btn-block btn-primary"> Desbloquear </button>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-info btn-block" ><span class="fa fa-refresh"></span> Resetar Senha </button>
                    <button class="btn btn-default" onclick="noty({text: 'Center top notify', layout: 'topCenter'});">Center top</button>
                  </div>
              </div> 
          </div> 
      </div> 

  </div>
</div>

<%= render 'form', user: @user %>

