  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
      <li>
        <%= link_to dashboards_path do %>
          Início
        <% end %>  
      </li>  
      <li>Configurações</li>                  
      <li class="active">Usuários</li>
  </ul>
  <!-- END BREADCRUMB -->   

  <!-- PAGE TITLE -->
  <div class="page-title">                    
      <h2><span class="fa fa-users"></span> Usuários </h2>
  </div>
  <!-- END PAGE TITLE -->                            
  
  <!-- PAGE CONTENT WRAPPER -->
  <div class="page-content-wrap">
      <div class="row">
          
          <% @users.each do |user| %>
          <!-- CONTACT ITEM -->
          <div class="col-md-3">
              <div class="panel panel-default">
                  <div class="panel-body profile profile-black">
                      <div class="profile-image">
                          <%= image_tag user.photo.url %>
                      </div>
                      <div class="profile-data">
                          <div class="profile-data-name"><%= user.name %></div>
                          <div class="profile-data-title"><%= user.role %></div>
                      </div>
                  </div>    
                  <% if !user.active %>
                    <div class="alert-danger text-center"> Usuário Bloqueado </div>
                  <% end %>                            
                  <div class="panel-body"> 
                      <div class="contact-info">
                          <p><small>Telefone</small><br/>(<%= user.phone %></p>
                          <p><small>Email</small><br/><%= user.email %></p>
                      </div>
                      <div class="col-md-12">
                        <%= link_to edit_user_path(user) do %>
                          <button class="btn btn-default btn-block" href="#"><span class="fa fa-pencil"></span> Editar Usuário </button>
                        <% end %>
                      </div>
                  </div>                                
              </div>
          </div>
          <!-- END CONTACT ITEM -->
          <% end %>
      </div>
      
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="col-md-12">
                        <%= link_to new_user_path, :class => "btn btn-success btn-block" do %>
                          <span class="fa fa-plus"></span> Adicionar Usuário
                        <% end %>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
