<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li>
      <%= link_to dashboards_path do %>
        Início
      <% end %>  
    </li>  
    <li>Sócios</li>                  
    <li>
      <%= link_to associates_path do %>
        Quadro Social
      <% end %>
    </li>
    <li class="active">Exibir Sócio</li>
</ul>
<!-- END BREADCRUMB -->   

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-user"></span> <%= @associate.name %> </h2>
</div>
<!-- END PAGE TITLE -->  

<div class="page-content-wrap">
    <div class="col-md-12">
      
      <div class="col-md-12">

           <div class="row">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Gerenciamento</h3>
                  </div>
                  <div class="panel-body">
                    
                    <div class="col-md-2">
                      <%= link_to edit_associate_path(@associate) do %>
                        <button class="btn btn-block btn-primary"> Editar Cadastro </button>
                      <% end %>
                    </div>
                    
                    
                    <div class="col-md-2">
                      <% if @associate.active %>
                        <button onclick="notyConfirm('<%= associate_status_change_path(@associate.id) %>');" class="btn btn-block btn-primary"> Desativar Cadastro </button>
                      <% else %>
                        <button onclick="notyConfirm('<%= associate_status_change_path(@associate.id) %>');" class="btn btn-block btn-warning"> Reativar Cadastro </button>
                      <% end %>
                    </div>                    
                    
                  </div>
             </div>
           </div>
           
           <!-- START JUSTIFIED TABS -->
            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#tabPersonal" data-toggle="tab">Dados Pessoais</a></li>
                    <li><a href="#tabContact" data-toggle="tab">Contato</a></li>
                    <li><a href="#tabAssociate" data-toggle="tab" onclick="loadSocialTab(<%= @associate.id %>)">Social</a></li>
                    <li><a href="#tabFinancial" data-toggle="tab" onclick="loadFinancialTab(<%= @associate.id %>)">Financeiro</a></li>
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tabPersonal">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="profile-image-expanded">
                            <%= image_tag @associate.photo.url %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <p> <strong>Nome: </strong> <%= @associate.name %> <br />
                              <strong>Martícula: </strong> <%= @associate.registration %> <br />
                              <strong>Sexo: </strong> <%= @associate.gender_description %> <br />
                              <strong>Data de Nascimento: </strong> <%= @associate.birthdate.strftime('%d/%m/%Y') %> <br />
                              <strong>CPF: </strong> <%= @associate.cpf %> <br /> 
                              <strong>RG: </strong> <%= @associate.rg %> 
                          </p>
                          
                          <p> <strong>Observação: </strong> <br /> 
                            <%= @associate.obs %> 
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="tab-pane" id="tabContact">
                        <div class="col-md-6">
                          <p> <strong>Endereço: </strong> <%= @associate.address %> <br />
                              <strong>Bairro: </strong> <%= @associate.district %> <br />
                              <strong>Cidade: </strong> <%= @associate.city %> <br />
                              <strong>Cep: </strong> <%= @associate.cep %> <br />
                              <strong>Fone: </strong> <%= @associate.phone %> <br /> 
                              <strong>Fone secundário: </strong> <%= @associate.optional_phone %> <br />
                              <strong>E-mail: </strong> <%= @associate.email %> 
                          </p>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="tabAssociate">
                        <div class="row">
                          <div class="col-md-3"> <strong>Categoria: </strong> <%= @associate.category.description %> 
                            <% if @associate.category.id == 2 %>
                              <% bond = AssociateBond.where(dependent_id: @associate.id) %>    
                              <% if bond.any? %>
                                  (<%= link_to Associate.find(bond.first.associate_id).name, associate_path(bond.first.associate_id) %>)
                              <% end %>
                            <% end %><br />
                            <strong>Data de Admissão: </strong> <%= @associate.adminission_date.strftime('%d/%m/%Y') %> 
                          </div>
                          <div class="col-md-5"> 
                            <strong>Cargos: </strong>
                            <span id="direction_roles"> </span>
                          </div>
                          <div class="col-md-4 col-xs-4">
                            <% if @associate.category.allow_dependents? %>                               
                              <button class="btn btn-default" data-toggle="modal" data-target="#add_dependent_modal"> Vincular Dependente </button>
                            <% end %>
                            <button class="btn btn-default" onclick="manageDirectionRole(<%= @associate.id %>)" data-toggle="modal" data-target="#add_direction_role_modal"> Gerenciar Cargos </button> 
                          </div>
                          
                          <% if @associate.category.allow_dependents? %>
                          <div class="row">
                            <div class="panel-body">
                              <h4 class="text-title">Dependentes</h4>
                              <div class="row" id="dependents_cards"></div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                        
                        
                    </div>
                    
                    <div class="tab-pane" id="tabFinancial">
                        <div class="row">
                          <div class="col-md-1">
                            <%= select_year(Date.today, {:start_year => Date.today.year + 1, :end_year => 2000}, {:onChange => "loadFinancialTab(#{@associate.id})"}) %>
                          </div>
                          
                          <div class="col-md-6">
                            <button class="btn btn-default" data-toggle="modal" data-target="#add_charge_modal"> Nova cobrança </button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#add_annuity_charge_modal"> Gerar anuidade  </button>
                            
                            <!-- TODO Listar as Cobranças do Ano | Botão de "Registrar Pagamento" | Botão Cancelar | Select Ano atualiza a listagem -->
                            
                          </div>
                        </div>
                        
                        
                        <div class="row">
                          <div class="panel-body">
                            <h4 class="text-title">Cobranças</h4>
                            <div class="row">
                              <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                        <th>Vencimento</th>
                                        <th>Situação</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="associate_charges_list">

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                    </div>                                                
                </div>
            </div>                                         
            <!-- END JUSTIFIED TABS -->
             
       
             
             
             
              
    </div> 
</div>


 <div class="modal" id="add_dependent_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">          
            <form action="<%= create_associate_bond_path(@associate) %>" method="post">          
              <div class="modal-body">
                  <h3>Adicionar Dependente</h3>
                  <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-4 control-label">Nome Completo: </label>
                      <div class="col-md-5">                                            
                          <input onchange="checkDependentForm();" type="text" name="name" id="name" class="form-control">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-4 control-label">Vínculo: </label>
                      <div class="col-md-5">                                            
                          <input onchange="checkDependentForm()" type="text" name="bond" id="bond" class="form-control">
                      </div>
                  </div>
                  <br />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default btn-success" disabled="true" id="saveDependentFormBtn">Salvar</button>
              </div>
              </form>
          </div>
      </div>
  </div>        
  
  <div class="modal" id="add_direction_role_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">                    
              <div class="modal-body">
                  <h3>Gerenciar Cargos em Diretoria</h3>
                  
                  
                  <div class="panel-body">
                    <h4 class="text-title">Cargos</h4>
                    <div class="row" id="direction_roles_list">
                        
                    </div>
                  </div>
                  
                  <div class="panel-body">
                    <form action="<%= create_direction_role_path(@associate) %>" method="post">
                    <h4 class="text-title">Adicionar Cargo</h4>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Cargo: </label>
                      <div class="col-md-5">                                            
                          <input onchange="checkDirectionRole()" type="text" name="role" id="role" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <label class="col-md-3 control-label">Biênio: </label>
                        <div class="col-md-5">                                            
                            <input onchange="checkDirectionRole()" type="text" name="biennium" id="biennium" class="form-control">
                        </div>
                    </div>
                  </div>
                  
                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default btn-success" disabled="true" id="saveDirectionRoleBtn">Salvar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  
  <div class="modal" id="add_annuity_charge_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">                    
              <div class="modal-body">
                  <div class="panel-body">
                    <form action="<%= create_associate_annuity_charge_path(@associate) %>" method="post">
                    <h4 class="text-title">Gerar Cobrança de Anuidade</h4>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Forma de pagamento: </label>
                      <div class="col-md-5">                                            
                          <select required="required" name="annuity_form" id="annuity_form" class="form-control" >
                          	<option value="1">à vista </option>
                          	<option value="2">Parcelado 2 vezes </option>
                          	<option value="3">Parcelado 3 vezes </option>
                          	<option value="4">Parcelado 4 vezes </option>
                          	<option value="5">Parcelado 5 vezes </option>
                          	<option value="6">Parcelado 6 vezes </option>
                          	<option value="7">Parcelado 7 vezes </option>
                          	<option value="8">Parcelado 8 vezes </option>
                          	<option value="9">Parcelado 9 vezes </option>
                          	<option value="10">Parcelado 10 vezes </option>
                          	<option value="11">Parcelado 11 vezes </option>
                          	<option value="12">Parcelado 12 vezes </option>
                          </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Dia do Vencimento: </label>
                      <div class="col-md-5">                                            
                          <input required="required" type="number" name="dueday" id="dueday" class="form-control">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default btn-success">Salvar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  
  
  <div class="modal" id="add_charge_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">                    
              <div class="modal-body">
                  <div class="panel-body">
                    <form action="<%= create_associate_charge_path(@associate) %>" method="post">
                    <h4 class="text-title">Adicionar Nova Cobrança</h4>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Descrição: </label>
                      <div class="col-md-5">                                            
                          <input required="required" type="text" name="description" id="description" class="form-control">
                          <input required="required" type="hidden" name="associate_id" id="associate_id" class="form-control" value="<%= @associate.id %>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Valor: </label>
                      <div class="col-md-5">                                            
                          <input required="required" type="text" name="value" id="value" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-1"></div>
                      <label class="col-md-3 control-label">Vencimento: </label>
                      <div class="col-md-5">                                            
                          <input required="required" type="text" name="due_date" id="due_date" class="form-control datepicker">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default btn-success">Salvar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
