<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li>
      <%= link_to dashboards_path do %>
        Início
      <% end %>  
    </li>  
    <li>Sócios</li>                  
    <li>
      <%= link_to associates_path do %>
        Quadro Social
      <% end %>
    </li>
    <li class="active">Exibir Sócio</li>
</ul>
<!-- END BREADCRUMB -->   

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-user"></span> <%= @associate.name %> </h2>
</div>
<!-- END PAGE TITLE -->  

<div class="page-content-wrap">
    <div class="col-md-12">
      
      <div class="col-md-12">

           <div class="row">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Gerenciamento</h3>
                  </div>
                  <div class="panel-body">
                    
                    <div class="col-md-2">
                      <%= link_to edit_associate_path(@associate) do %>
                        <button class="btn btn-block btn-primary"> Editar Cadastro </button>
                      <% end %>
                    </div>
                    
                    
                    <div class="col-md-2">
                      <% if @associate.active %>
                        <button onclick="notyConfirm('<%= associate_status_change_path(@associate.id) %>');" class="btn btn-block btn-primary"> Desativar Cadastro </button>
                      <% else %>
                        <button onclick="notyConfirm('<%= associate_status_change_path(@associate.id) %>');" class="btn btn-block btn-warning"> Reativar Cadastro </button>
                      <% end %>
                    </div>                    
                    
                  </div>
             </div>
           </div>
           
           <!-- START JUSTIFIED TABS -->
            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#tabPersonal" data-toggle="tab">Dados Pessoais</a></li>
                    <li><a href="#tabContact" data-toggle="tab">Contato</a></li>
                    <li><a href="#tabAssociate" data-toggle="tab">Social</a></li>
                    <li><a href="#tabFinancial" data-toggle="tab">Financeiro</a></li>
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tabPersonal">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="profile-image-expanded">
                            <%= image_tag @associate.photo.url %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <p> <strong>Nome: </strong> <%= @associate.name %> <br />
                              <strong>Martícula: </strong> <%= @associate.registration %> <br />
                              <strong>Sexo: </strong> <%= @associate.gender %> <br />
                              <strong>Data de Nascimento: </strong> <%= @associate.birthdate %> <br />
                              <strong>CPF: </strong> <%= @associate.cpf %> <br /> 
                              <strong>RG: </strong> <%= @associate.rg %> 
                          </p>
                          
                          <p> <strong>Observação: </strong> <br /> 
                            <%= @associate.obs %> 
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="tab-pane" id="tabContact">
                        <div class="col-md-6">
                          <p> <strong>Endereço: </strong> <%= @associate.address %> <br />
                              <strong>Bairro: </strong> <%= @associate.district %> <br />
                              <strong>Cidade: </strong> <%= @associate.city %> <br />
                              <strong>Cep: </strong> <%= @associate.cep %> <br />
                              <strong>Fone: </strong> <%= @associate.phone %> <br /> 
                              <strong>Fone secundário: </strong> <%= @associate.optional_phone %> <br />
                              <strong>E-mail: </strong> <%= @associate.email %> 
                          </p>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="tabAssociate">
                          <p> <strong>Categoria: </strong> <%= @associate.category.description %> <br />
                              <strong>Data de Admssão: </strong> <%= @associate.adminission_date %> <br />
                          </p>
                      
                        <div class="panel-body">
                          <h4 class="text-title">Dependentes</h4>
                          <div class="row">
                              <div class="col-md-1 col-xs-1">                                            
                                  <div class="friend">
                                      <%= image_tag @associate.photo.url %>
                                      <span> Dejan (Filho) </span>
                                      <button class="btn btn-default btn-block"> Ver </button>
                                      <button class="btn btn-danger btn-sm btn-block"> Remover </button>
                                      
                                  </div>                                            
                              </div>
                              <div class="col-md-1 col-xs-1">                                            
                                <button class="btn btn-default btn-square" data-toggle="modal" data-target="#add_dependent_modal"> Adicionar Dependente </button> 
                              </div>
                          </div>
                        </div>
                          
                        
                        
                        
                        
                        
                        
                    </div>
                    
                    <div class="tab-pane" id="tabFinancial">
                        <p>Dados Financeiros e Bla Bla Blad velit aliquet, et interdum nulla porta. Etiam euismod pellentesque purus, in fermentum eros venenatis ut. Praesent vitae nibh ac augue gravida lacinia non a ipsum. Aenean vestibulum eu turpis eu posuere. Sed eget lacus lacinia, mollis urna et, interdum dui. Donec sed diam ut metus imperdiet malesuada. Maecenas tincidunt ultricies ipsum, lobortis pretium dolor sodales ut. Donec nec fringilla nulla. In mattis sapien lorem, nec tincidunt elit scelerisque tempus.</p>
                    </div>                                                
                </div>
            </div>                                         
            <!-- END JUSTIFIED TABS -->
             
       
             
             
             
              
    </div> 
</div>


 <div class="modal" id="add_dependent_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">                    
              <div class="modal-body">
                  <h3>Adicionar Dependente</h3>
                  
                  <div class="form-group">
                      <div class="col-md-1"></div>
                      <label class="col-md-4 control-label">Nome Completo: </label>
                      <div class="col-md-5">                                            
                          <input type="text" name="name" id="name" class="form-control">
                      </div>
                  </div>
                  <br />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>        
